@{
    ViewBag.Title = "Our GiftList";
}
<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-6">
        <p>All we need for a great day is your company on the day, so please don't feel obliged to bring a gift. However, if you would like to get us something, we have have some inspiration for you:</p>
        <h3>We'll have something for you really soon!</h3>
    </div>
</div>
