@{
    ViewBag.Title = "Our GiftList";
}
<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-6">
        <p>All we need for a great day is your company, so please don't feel obliged to bring a gift. However, if you would like to give something, we have some inspiration for you:</p>
        <p>
            We have a gift list with John Lewis. Goto the link below or a store and use list number: <b>629597</b>.<br/>
            <a href="https://www.johnlewisgiftlist.com/giftint/JSPs/GiftList/BuyGifts/GuestFindAList.jsp">John Lewis Gift List</a>
        </p>
        <p>
            Alternatively, we would also welcome a donation to our charity of choice (Medecins Sans Frontieres).<br/>
            Please use this donation page and Sam's employer will kindly match the donation.<br/>
            <a href="https://www.sponsorme.co.uk/sambott/grace-and-sam's-wedding.aspx">Sponsor Me Page</a>
        </p>
    </div>
</div>
