@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron s-and-g-photo"><p>&nbsp;</p>
    <h1>Sam and Grace: The WedSite</h1>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Sunday 3<sup>rd</sup> of May 2015</h2>
        <p>We'd love for you to come to our big day.</p>
    </div>
</div>