@{
    ViewBag.Title = "Sam and Grace: The WedSite";
}

<div class="jumbotron s-and-g-photo"><p>&nbsp;</p>
    <h1>@ViewBag.Title</h1>
</div>

<div class="col-md-6 text-center">
    <h2>on Sunday 3<sup>rd</sup> of May 2015 at 2:30pm</h2>
    <h4>at St. Nicholas' Church, Islip, OX5 2SD</h4>
    <h5>refreshments from <strong>1:30pm</strong> at the Islip Village Hall</h5>
    <h4>reception at the Tythe Barn, Bicester, OX26 4SR</h4>
    <h5>... for drinks, food, games &amp; dancing</h5>
    <h3>Only @ViewBag.DaysToGo Days to Go!</h3>
</div>
