@{
    ViewBag.Title = "Sam and Grace: The WedSite";
}

<div class="jumbotron s-and-g-photo">
    <p>&nbsp;</p>
    <h1>@ViewBag.Title</h1>
</div>

<div class="col-md-7 text-center">
    <h3>on Sunday 3<sup>rd</sup> of May 2015 at 2:30pm</h3>
    <h4>at St. Nicholas' Church, Islip, OX5 2SD</h4>
    <h4>refreshments from <strong>1:30pm</strong> at the Islip Village Hall</h4>
    <h4>reception at the Tythe Barn, Bicester, OX26 4SR</h4>
    <h4>... for drinks, food, games &amp; dancing</h4>
    <h3>Only @ViewBag.DaysToGo Days to Go!</h3>
    <div class="alert alert-dismissible alert-info">
        <p>Just in case we didn't correct your invite: venue closes at midnight!</p>
    </div>
</div>
